<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los productos</h2>
			</div>
		
			<% products.forEach(product => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box"> <!-- card,puedo poner un if dentro por si quiero que no quiere que itere algo,agregar una condicion,poder poner si un producto es de un color que no lo muestre etc -->
						<a href="/products/<%- product.id %> "> <!-- aca agregar el link para q cuand el usuario haga click en el produto redireccione a la vista de detalle de productos,entonces usamos include para q nos muestre del producto su propiedad id por eso va product.id -->
							<figure class="product-box_image">
								<img src="/images/products/<%- product.image %> " alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2><%- toThousand(product.price - (product.price * product.discount / 100))  %> </h2>
								<span><%- product.discount > 0 ? `${product.discount}% OFF` : " " %> </span><!-- se usa bastics porque mesclamos string con variables -->
								<p><%- product.name %> </p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			 
			<% }) %>
		
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>